/* Removing all padding & margin and implementing border-box */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    /*border: 2px solid red;*/
}

a {
    color:#ffffff;
}

.header {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    /*Spacing of top right header title */
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 100px;
}

img {
    display: block;
    width: 150px;
    height: 140px;
}
 
.secondary {
    padding-top: 10px;
}

.hero {
    padding-bottom: 150px;
}

.main {
    padding: 80px 120px 120px 100px;
    display: inline-block;
    width: 900px;
    height: auto;
    vertical-align: middle;
}

iframe {
    display: inline-block;
    width: 900px;
    height: 517px;
    vertical-align: middle;
}

.headerlink a {
    padding-right: 50px;
    display: flex;
}

.headerlink {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.headerlink, .secondary{
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
}

.caption {
    font-size: 12px;
    color:#2b1212;
    display: flex;
    justify-content: space-around;
}

.figimg {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 5px solid #242424;
}

.hero, footer {
    background-color: #333232;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.random {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #242424;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.namequote {
    font-size: 24px;
    padding-right: 60px;
    padding-top: 20px;
}

.herosign {
    background-color: #242424;
    font-weight: 800;
    border-radius: 10%;
    border: 1px solid white;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
}

footer, h3, button, .signup{
    color: #ffffff;
}

figcaption {
    text-align: center;
    margin-bottom: 40px;
    width: 200px;
    padding-top: 5px;

}

blockquote {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px;
    max-width: 1000px;
    margin: auto;
}

h3 {
   font-family: 'Roboto', sans-serif;
   font-weight: 800;
   font-size: 24px;
   color:#ffffff; 
}

.signup {
    font-size: 15px;
    color:#ffffff;
}

.btmcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1400px;
    background-color: #333232;
    border-radius: 25px; 
    margin: 90px auto;
    justify-content: center;
}

.sign2 {
    background-color: #242424;
    font-weight: 800;
    border-radius: 10%;
    border: 0;
    padding: 5px 15px 5px 21px;
    display: flex;
    margin-top: 10px;
    margin-left: 600px;
    border: 2px solid white;
    max-height: 30px;
    width: 90px;
}


footer {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

