/* Removing all padding & margin and implementing border-box */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.header {
    font-size: 24px;
    color: #F9FAF8;
}

.herohead {
font-size: 18px;
color: #E5E7EB;
}