/* Removing all padding & margin and implementing border-box */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
}

.headerlink, .secondary{
font-size: 18px;
color: #E5E7EB;
}

.caption {
    font-size: 12px;
    color:#6e7b8d;
}

.hero {
    background-color: #1F2937;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.random {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.namequote {
    font-size: 24px;
}

button {
    background-color: #3882F6;
    color: #ffffff;
}